body {
    background-color: lightskyblue;
}

h1 {
    color: blue;
    margin-left: 20px;
    font-size: 300%;
}

h2 {
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    padding: 30px;
    border: 2px solid rebeccapurple;
    margin: 40px;
    color: aqua;
    font-size: 160%;
}


/*Flexbox*/

.flex-container{
    display: flex;
    border: 1px solid white;
    border-radius: 20px;
}

.flex-item {
width: 100px;
margin: 10px;
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
line-height: 100px;
font-size: 30px;
color: white;
}

.box-1{
    background-color: blueviolet;
}
.box-2{
    background-color: blue;
}
.box-3{
    background-color: aquamarine;
}
.box-4{
    background-color: brown;
}

.box-5{
    background-color: pink;
}